# === IDE & System ===
*.iml
.idea/
.DS_Store

# === Build System ===
.gradle/
build/
.cxx/
.externalNativeBuild/
captures/
local.properties

# === Compiled Code ===
*.class
*.dex
*.apk
*.ap_
*.so.dSYM/

# === Android Libraries ===
/libs/*.aar
/libs/*.jar

# === IntelliJ / Android Studio ===
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iws
*.ipr
.navigation/

# === Proguard Files ===
proguard-project.txt
proguard-rules.pro
proguard-android.txt

# === Firebase & Secrets ===
**/google-services.json
**/credentials.json
**/*firebase-adminsdk*.json
